*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.nav-links{
    display: none;
}
.account{
    display: none;
}
.menu-btn{
    background: transparent;
    border: none;
}
.sub-navbar{
    padding-top: 10px;
    height: 30px;
    padding-bottom: 10px
}
.nav-links-1{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}
.nav-links-1 li{
    margin-right: 20px;
}
.nav-links-1 li a{
    
    text-decoration: none;
    color: black;
}

.main-pic{
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    
}
.main-pic img{
    width: 100%;
    height: 300px;
    padding: 20px 40px;
}
.main-pic .text{
    
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #ff764d;
    font-size: 64px;
    font-size: bold;
 
}
.text-container {
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5vw;
    font-weight: bold;
    line-height: 1.5;
    color: #333;
}

.highlight {
    color: #007BFF;
}

.subtext {
    margin-top: 20px;
    font-size: 1.2vw;
    color: #555;
    line-height: 1.6;
}




@media (min-width:768px){
.menu-btn{
    display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
}



}